<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona</title>
</head>
<body>
    <%- include('../templates/navbarLater')%>
    <div id="viewport">
        <div id="content">
            <div class="container-fluid">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><%= persona.name %></li>
                      <li class="list-group-item"><%= persona.lastName %></li>
                      <li class="list-group-item"><%= persona.phone %></li>
                      <li class="list-group-item"><%= persona.direction %></li>
                      <li class="list-group-item"><%= persona.nameMascot %></li>
                      <li class="list-group-item"><%= persona.razaMascot %></li>
                      <li class="list-group-item"><%= persona.descriptionMascot %></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
   
</body>
</html>